Syntax is about the correct arrangement of words and symbols in code

Semantics refers it what the code is supposed to do when it runs

In [125]:
### case sensitivity --  Python is case-sensitive

name = 'Krishna'
Name = 'Madhava'
print(name)
print(Name)
print(name)

Krishna
Madhava
Krishna

In [126]:
## indentation -- consistent use of spaces ( define structure and hierarchy of the code)

age = 32
if age > 30:
    print(age+1) ## space automatically comes tells that print is inside (if)
print(age-1)

33
31

In [127]:
## Line Continuation (use backlash "\")
total = 1+2+3+\
    4+5+6
print(total)

21

In [128]:
## Multiple statements on a single line
x = 5;y = 10 ; z = x+y
print(z)

15

In [129]:
## Variable assigment
age = 32
print(type(age))
name = "Krishna"
print(type(name))

<class 'int'>
<class 'str'>

In [130]:
## Type Inference
variable = 10
print(type(variable))
variable = "loma"
print(type(variable))

<class 'int'>
<class 'str'>

Variables -- fundamental element in programming used to store data that can be referenced and manipulated in a program

In [131]:
## Declaring and assigning variables
age = 32
height = 5.9
name = "Mohit"
is_student = True

## Printing variables
print("age:",age)
print("height:",height)
print("name:",name)

## Variable type is determined at runtime
print(type(age))
print(type(height))
print(type(name))

age: 32
height: 5.9
name: Mohit
<class 'int'>
<class 'float'>
<class 'str'>

In [133]:
## Type checking and conversion
type(age)
# print(type(height))
# print(type(name))

age_str = str(age)
print(type(age_str))


## for int() , str() , float() ,

TypeError: 'str' object is not callable

In [ ]:
## Dynamic typing
var = 10
print(var , type(var))

var = "Hello"
print(var ,type(var))

In [ ]:
## input
age = input("What is your age?")
print(age)
# age = int(age)

In [ ]:
## Error
result = "Hello" + str(5)
print(result)

In [ ]:
## Operators
a = 10
b = 20

addition = a+b
print(addition)

substraction = a-b
print(substraction)

multiplication = a*b
print(multiplication)

division = a/b
print(division)

floor = a//b
print(floor)

modulus = a%b
print(modulus)

exponential = a**b
print(exponential)

In [ ]:
## Comparison operators

a = 10
b = 10

print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

In [ ]:
## Logical Operators
## AND , NOT , OR , XOR

A = True
B = False
print(A)
print(B)

print("A and B : " , A and B)
print("A or B : " , A or B)
print("A not B : " , A != B)
print("A zor B : " , A ^ B)

Python Control Flow

In [ ]:
# if/else/elif statement

age = 18
if age > 18:
    print("valid")
elif age == 18:
    print("Perfect")
else:
    print("invalid")

In [ ]:
## Nested conditional statement
num = int(input("Enter a number"))

if num>0:
    print("Positive")
    if num%2==0:
        print("Even")
    else:
        print("Odd")
else:
    print("Negative or Zero")

In [ ]:
## Loops in python

## for loop

# for i in range(10 , 1 , -1): # (start , end , stepSize)
#     print(i)


str = "KrishNaik"

for i in str:
    print(i)

In [ ]:
## while loop

count = 0
while count > 10:
    if count % 2 == 0:
        break
    print(count)
    count += 1

In [ ]:
# Break : Break the loop when conditions met
# Continue : Skips the current iteration
# Pass : null operation , it does nothing

for i in range(5):
    if (i % 2) == 0:
        pass
    else:
        print(i)

 **Introduction to In-built Data Structures in Python**

In [134]:
# List -- ordered , mutable collection of items

lst = []
print(type(lst))

names = ["Mohit" , "Sagar" , "Papa"]
print(names)

<class 'list'>
['Mohit', 'Sagar', 'Papa']

In [135]:
## Accessing list items
fruits = ["apple" , "banana", "cherry" , "grape"]
print(fruits)
for fruit in fruits:
    print(fruit)

print("Index of third fruit : " , fruits.index("cherry"))

print("From 1st index: " , fruits[1:])
print("From 1st to 3rd index: " , fruits[1:3])

fruits[1] = "watermelon"
print(fruits)

['apple', 'banana', 'cherry', 'grape']
apple
banana
cherry
grape
Index of third fruit :  2
From 1st index:  ['banana', 'cherry', 'grape']
From 1st to 3rd index:  ['banana', 'cherry']
['apple', 'watermelon', 'cherry', 'grape']

In [136]:
# List methods

fruits.append("orange") # adds to end
print(fruits)

fruits.insert(1,"banana") # adds to index
print(fruits)

fruits.remove("banana")
print(fruits)

['apple', 'watermelon', 'cherry', 'grape', 'orange']
['apple', 'banana', 'watermelon', 'cherry', 'grape', 'orange']
['apple', 'watermelon', 'cherry', 'grape', 'orange']

In [137]:
# remove and return list
poped = fruits.pop()
print(poped)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'grape']

In [138]:
count = fruits.count("orange")
print(count)

0

In [139]:
fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['apple', 'cherry', 'grape', 'watermelon']
['watermelon', 'grape', 'cherry', 'apple']

In [141]:
# Slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [144]:
# iterating over list
for fruit in fruits:
    print(fruit)

# for num in numbers:
#     print(num)

for index, fruit in enumerate(fruits):
    print(index, fruit)

watermelon
grape
cherry
apple
0 watermelon
1 grape
2 cherry
3 apple

In [147]:
## List comprehension

# lst = []
# for x in range(10):
#     lst.append(x ** 2)
#
# print(lst)

# [x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [149]:
## Basic List comprehension

square = [num ** 2 for num in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [152]:
## List Comprehension with condition
lst = []

# for i in range(20):
#     if i%2 == 0:
#         lst.append(i)
#     print(lst)

lst = [num ** 2 for num in range(1,11) if num%2 == 0]
print(lst)

[4, 16, 36, 64, 100]

In [153]:
## Nested list Comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [154]:
## List comprehension with function calls
words = ['hello' , 'world' , 'python' , 'list' , 'comprehension']
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [8]:
# Tuples -- immutable ordered collection of items

empty_tuple = ()
print(type(empty_tuple))

lst = tuple()
print(type(lst))

numbers = tuple(range(1,11))
print(numbers)

mixed = (1 , "Hello" , 2 , "FuckU")
print(mixed)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 'Hello', 2, 'FuckU')

In [9]:
# Tuple operations

concatenation_tup = numbers + mixed
print(concatenation_tup)

mixed * 3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 'Hello', 2, 'FuckU')

(1, 'Hello', 2, 'FuckU', 1, 'Hello', 2, 'FuckU', 1, 'Hello', 2, 'FuckU')

In [11]:
## Immutable nature of tuples
lst = (1 , 2 , 4 , 5 ,6)
# lst[1] = "fnof" # shows error
print(lst)

(1, 2, 4, 5, 6)

In [19]:
# Tuple methods
print(numbers.count(5))
print(numbers.index(5))

# Packing and Unpacking tuple

packed_tuple = 1,"Hello",3.14
print(packed_tuple)

a, b , c = packed_tuple
print(a, b, c)

a , *b , c = packed_tuple
print(a, b, c)

1
4
(1, 'Hello', 3.14)
1 Hello 3.14
1 ['Hello'] 3.14

In [26]:
# Sets -- store unordered collection of unique items
# set1 = {1,2,3}
set2 = {4,5,6}

# print(set1)
print(type(set2))

set1 = set([1,2,3,4,4,4,5])
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

In [40]:
# Basic set operations
set1.add(7)
print(set1)
set1.add(7)
print(set1)


# remove if present
set1.discard(10)
print(set1)

# remove random
print(set1.pop())

set1.clear()

# set membership test
set2 = {1 ,2,3,4,5,6}
print(set2)
print(3 in set2)

{7}
{7}
{7}
7
{1, 2, 3, 4, 5, 6}
True

In [46]:
# Mathematical Operations

set1 = {1 , 2 , 3 , 4, 5 , 6}
set2 = {7 , 8 , 9, 11 , 10 , 6 , 5}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
inter_set = set1.intersection(set2)
print(inter_set)

set1.intersection_update(set2)
print(set1)

set1.difference(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{5, 6}
{5, 6}
{5, 6}

In [47]:
## Symmetric difference
set1.symmetric_difference(set2)
print(set1)

{5, 6}

In [53]:
## Dictionaries -- store data in key-value pairs (unordered collection) , Mutable , add , update and delete
dict1 = {}
print(type(dict1))

# key can be only used once
student = {"name" : "Krish" , "age" : 32}
print(student)

# accessing values
print(student.get("name")) # student['age'] , student['name']
print(student.get("age"))
print(student.get("last_name", "Unknown"))

del student['name']
student['address'] = "USA"
print(student)

<class 'dict'>
{'name': 'Krish', 'age': 32}
Krish
32
Unknown
{'age': 32, 'address': 'USA'}

In [56]:
# Methods

keys = student.keys()
print(keys)
values = student.values()
print(values)

items  = student.items()
print(items)

dict_keys(['age', 'address'])
dict_values([32, 'USA'])
dict_items([('age', 32), ('address', 'USA')])

In [59]:
# shallow copy
student_copy = student.copy()
print(student_copy)

student["age"] = 567576

print(student)
print(student_copy)

{'age': 567576, 'address': 'USA'}
{'age': 567576, 'address': 'USA'}
{'age': 567576, 'address': 'USA'}

In [62]:
## Dictionary Comprehension
squares = {x:x**2 for x in range(1,11)}
print(squares)

conditional_squares = {x : x**2 for x in range(1,11) if x % 2 == 0}
print(conditional_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [63]:
## Merge 2 dictionaries

dict1 = {"a" : 1 , "b" : 2 , "c" : 3, "d" : 4}
print(dict1)
dict2 = {"e" : 5 , "f" : 6 , "g" : 7 , "h" : 8 , "i" : 9}
print(dict2)

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}